.liquid-card{
    border: 1px solid hsl(0, 0%, 100%, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.1);
}
.liquid-button{
    border: 1px solid hsla(158, 84%, 41%, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 8px 1px hsla(158, 84%, 41%, 0.1);
}

